MYSQL_DSN="mysql账号:mysql密码@/db_name?charset=utf8&parseTime=True&loc=Local"  # Mysql连接地址
REDIS_ADDR="127.0.0.1:6379"  # Redis 地址与端口
REDIS_PW=""     # Redis 连接密码
REDIS_DB=""     # Redis 数据库 从 0 到 10
SESSION_SECRET="setOnProducation"    # session 密钥，必须设置而且不要泄露
GIN_MODE="debug"                           
LOG_LEVEL="debug" 


